<div class="border"></div>
<div class="footer">
    <div style="float: left;">
        <div style="margin-bottom: 8px;">Copyright © 2013 - Pham Nhat Vu</div>
        <div><b>Name:</b> Phạm Nhật Vũ</div>
        <div><b>Address:</b> 89 Lạc Long Quân, Tây Hồ, Hà Nội, VietNam</div>
        <div><b>Phone:</b> 0356.442.689</div>
        <div><b>Email:</b> vulol123cx@gmail.com</div>
    </div>
    <div style="float: right;">
        <div style="margin-bottom: 8px;">Online: 1</div>
        <div>Today: 55</div>
        <div>This month: 3514</div>
        <div>This year: 44798</div>
        <div>Total: 189744</div>
    </div>
</div>