<div class="no-lazyload">
    <div class="team-1">
        <div class="item">Home</div>
        <div class="item">Laboratory</div>
        <div class="item">About</div>
        <div class="item">Contact</div>
    </div>
    <div class="team-2">
        <div class="item"><a href="register">Register</a></div>
        <div class="item"><a href="login">Login</a></div>
    </div>
</div>
